.memberswrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 20px;
    pointer-events: none;
}
.cardswrapper{
    width: 1000px;
    height: 1100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}
.frontcard{
    position: absolute;
    width: 98%;
    height: 98%;
    background: #000814;
    border-radius: 40px;
    z-index: 1;
    color: #ffffff;
    overflow: hidden;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}
.frontcard img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.hovercard{
    position: absolute;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "profile"
                         "details";
    inset: 0;
    padding: 10px;
    z-index: 2;
}
.hoverimage{
    grid-area: profile;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hoverinfo{
     grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem 1rem; 

    padding: 1.2rem;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1.2rem;

    align-content: center; 
}
.hoverinfo h2{
    color:white;
    padding: 20px;
}
.memberswrapper:hover .cardswrapper {
  opacity: 0.4;
  filter: blur(2px);
  transform: scale(0.95);
}
.memberswrapper .cardswrapper:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.02);
  z-index: 20;
}
.cardswrapper .hovercard{
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.cardswrapper:hover .hovercard{
    transform: translateY(0);
    opacity: 1;
}
.cardswrapper:hover img{
    opacity: 0;
}
.cardswrapper:hover .hoverimage{
    opacity: 1;
    padding: 10px;
    border-radius: 40px;
}
.cardswrapper::before {
   content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
