.Homecontainer{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Homeh2{
    position: absolute;
    top: 73%;
    left: 40%;
    z-index: 1;
    letter-spacing: 0.5rem;
    font-size: 5rem;
     font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: whitesmoke;
     text-shadow: 0 4px 10px rgba(215, 15, 15, 0.8);
}
.homemember{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 83%;
    left: 30%;
    gap: 10px;
}
.homep{
    white-space: nowrap;
    font-style: italic;
    font-weight: 800;
    font-family: "sans serif";
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    color: #373e98;
    font-size: 2.5rem;
}
.homep:nth-child(even){
    transform: translateY(50px);
    color: white;
}
.homep:nth-child(odd){
    transform: translateX(20px);
}
.Homeimage{
    display: block;
    width: 100%;
    object-fit: fill;
    height: 150vh;
    opacity: 86%;
    z-index: 0;
}