.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo"
                         "title";
    font-size: 5rem;
    color: red; /* Change this to a very noticeable color */
    background-color: black;
}