.Cards{
  width: 20%;

  word-wrap: break-word;
  border:10px solid rgb(35, 17, 17);
  background-color: aqua; 
  white-space:noraml;
}
.Cards p, h2 {
  text-align: center;
  font-size: 100%;
}
.Cards img{
  height: 100%;
  width: 100%;
}