.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header nav"
                         "main main"
                         "footer footer";

    min-height: 100vh;
}

.mainheader{
    grid-area: header;
}
.navbar{
    grid-area: nav;
}
main{
    grid-area: main;
}
.mainfooter{
    grid-area: footer;
}

